<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <h1>User Login Page</h1>
    {% csrf_token %}
    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}

<form action='Dashboard/' method="post">
    {% csrf_token %}
  <!-- Your form fields here -->
  <label for="username">Username:</label>
  <input type="text" name="username" required>
  <label for="password">Password:</label>
  <input type="password" name="password" required>
  <button type="submit">Login</button>
</form>


    <a href='/ad/'>
    <h1>Admin Login Page</h1>
    </a>

    <a href='/up/'>
    <h1>REgister</h1>
    </a>
    <script src="static/app.js"></script>
  </body>
</html>